:root {
  --hero-color: #f9f7fd;
  --heading-font-family: "Victor Mono", monospace;
  --default-font-family: "Questrial", sans-serif;
  --branding-color: #6c63ff;
}
.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 140px 20px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 60px;
  line-height: 1.5;
}
.hero p {
  font-family: var(--default-font-family);
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}
.hero h2 {
  font-family: var(--default-font-family);
  color: black;
  font-weight: bold;
}
.btn-primary {
  background-color: var(--branding-color);
  border-radius: 30px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
  font-family: var(--default-font-family);
  margin-top: 20px;
}
.featured h2 {
  font-family: var(--default-font-family);
  text-align: center;
  font-size: 35px;
}
.featured img {
  background-color: var(--hero-color);
  padding: 20px 20px;
}
.feature {
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 40px;
}
.featured p {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}
.featured h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-decoration: underline;
}
.featured a {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}
@media (max-width: 896px) {
  .btn-primary {
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
}
.navbar {
  background-color: var(--hero-color);
}

.about-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
.about-section h2 {
  font-size: 35px;
  font-family: var(--default-font-family);
}
.about-section p {
  font-size: 25px;
  font-family: var(--default-font-family);
  padding-top: 10px;
}
.contact-contents p {
  font-family: var(--default-font-family);
}
.project h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
.project h2,
p {
  font-family: var(--default-font-family);
}
.project h2 {
  font-weight: bold;
  text-decoration: underline;
}
.work {
  font-size: 20px;
}
