:root {
  --hero-color: #f9f7fd;
  --heading-font-family: "Victor Mono", monospace;
  --default-font-family: "Questrial", sans-serif;
  --branding-color: #6c63ff;
}
/* indexpage */
.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 140px 20px;
}
.hero h1 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 60px;
  line-height: 1.5;
}
.hero p {
  font-family: var(--default-font-family);
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}
.hero h2 {
  font-family: var(--default-font-family);
  color: black;
  font-weight: bold;
}
.btn-primary {
  background-color: var(--branding-color);
  border-radius: 30px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 30px;
  font-family: var(--default-font-family);
  margin-top: 20px;
}
.featured h2 {
  font-family: var(--default-font-family);
  text-align: center;
  font-size: 35px;
}
.featured img {
  background-color: var(--hero-color);
  padding: 20px 20px;
}
.feature {
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 40px;
}
.featured p {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}
.featured h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-decoration: underline;
}
.featured a {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.navbar {
  background-color: var(--hero-color);
}
/* the .about-section */

.about-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
.about-section h2 {
  font-size: 35px;
  font-family: var(--default-font-family);
}
.about-section p {
  font-size: 25px;
  font-family: var(--default-font-family);
  padding-top: 10px;
}
/* mywork */
.project h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
.project h2,
p {
  font-family: var(--default-font-family);
}
.project h2 {
  font-weight: bold;
  text-decoration: underline;
}
.work {
  font-size: 20px;
}

/* contactme */
.contact-container h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
}
.icons {
  text-align: center;
  font-size: 60px;
  text-decoration: none;
  line-height: 0.8;
}
.icons a:visited {
  color: black;
}
.icons a:hover {
  color: var(--branding-color);
}

.icons p {
  font-size: 40px;
  font-family: var(--default-font-family);
}
i:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}
/* thefooter */
footer .contact-box {
  background-color: var(--hero-color);
  padding: 30px 40px;
  border-radius: 10px;
}
footer .email-link {
  font-family: var(--default-font-family);
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  color: black;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--hero-color);
  padding: 15px 24px;
  font-size: 30px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
footer .contact-box h3 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
footer .contact-box p {
  font-family: var(--default-font-family);
  margin: 0;
}
@media (max-width: 900px) {
  .btn-primary {
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
  footer .email-link {
    font-size: 24px;
  }
  .about-section {
    text-align: center;
  }
  .about-section img {
    text-align: center;
  }
}
